
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>地图加载完成事件</title>
    <link rel="stylesheet" href="https://cache.amap.com/lbs/static/main1119.css" />
    <link rel="stylesheet" href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css" />

    <script src="~/Content/jquery-1.10.2.js"></script>
    <link href="~/Content/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/Content/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />


    <style>
        html, body, #container {
            height: 100%;
            width: 100%;
        }

        .amap-icon img,
        .amap-marker-content img {
            width: 15px;
            height: 20px;
        }

        /*.marker {
            position: absolute;
            top: -20px;
            right: -118px;
            color: #fff;
            padding: 4px 10px;
            box-shadow: 1px 1px 1px rgba(10, 10, 10, .2);
            white-space: nowrap;
            font-size: 12px;
            font-family: "";
            background-color: #25A5F7;
            border-radius: 3px;
        }*/
        ul {
            float: left;
            list-style: none;
            width: 100px;
        }

        #tab td {
            width: 100px;
        }

        #tan td {
            width: 100px;
        }
    </style>

</head>
<body>
    
    <div style="position:fixed;left:0;top:50px;width:200px;height:100%;background-color:white;z-index:10000000">
        <input type="text" style="width:100px;" /><input type="button" value="搜索" />
        <h4 style="background-color:aquamarine; text-align:center;">站点排名</h4>
        
        <table id="tab">
            <tr>
                <td>排名 @Request.QueryString["data"]</td>
                <td>站点名称</td>
                <td>浓度</td>
            </tr>
        </table>
    </div>
    <div style="position:fixed;top:0;width:100%;height:50px;background-color:black;z-index:10000000">
        <span style="color:white;font-size:35px;">大气环境网格化监管系统</span>
        <span style="color:white;margin-left:600px;"><a href="/AnalyzeEcharts/Index" style="color:white">实时监测</a></span>
        <span style="margin-left:15px;display: inline-block;position: relative;">
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                统计分析<span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="/AnalyzeEcharts/Index">多站点污染物分析</a></li>
                <li><a href="/AnalyzeEcharts/Index">单站点污染物分析</a></li>
                <li><a href="/MonitorPoint/CxlMon?Code=@Request.QueryString["data"]">月度数据分析</a></li>
                
                
                <li><a href="/AnalyzeEcharts/Index">大气常规站污染分析</a></li>
                <li><a href="/AnalyzeEcharts/Index">多站点年度污染分析</a></li>
                <li><a href="/AnalyzeEcharts/Index">单站点年度污染分析</a></li>
                <li><a href="/AnalyzeEcharts/Index">超国控点预警数据统计</a></li>
                <li><a href="/AnalyzeEcharts/Index">站点数据排名统计</a></li>
                <li><a href="/AnalyzeEcharts/Index">预警信息查询</a></li>
                <li><a href="/AnalyzeEcharts/Index">站点基本信息查询</a></li>
                <li><a href="/AnalyzeEcharts/Index">污染分析报告</a></li>
                <li><a href="/AnalyzeEcharts/Index">监测数据查询</a></li>
                <li><a href="/AnalyzeEcharts/Index">城市历史变化趋势</a></li>
                <li><a href="/AnalyzeEcharts/Index">城市累积变化趋势</a></li>
            </ul>
        </span>
        <span class="color:white">
            <iframe scrolling="no" src="https://tianqiapi.com/api.php?style=ta&skin=peach" frameborder="0" style="color:white" width="260" height="24" allowtransparency="true"></iframe>
        </span>
    </div>

    <div style="position:fixed;right:0;top:50px;width:200px;height:100%;background-color:white;z-index:10000000">

        <h4 style="background-color:aquamarine;">天气预报</h4>
        <ul>
            <li>高温:</li>
            <li>低温:</li>
            <li>风向:</li>
            <li>天气:</li>
        </ul>
        <ul id="tal"></ul>
        <h5 style="text-align:center;">预警排名</h5>
        <table id="tan">
            <tr>
                <td>排名</td>
                <td>站点名称</td>
                <td>AQI</td>
            </tr>
        </table>

    </div>

    <div id="div1" style="position:fixed;top:70px;left:400px;width:420px;height:40px;background-color:green;z-index:10000000">

    </div>
    <div id="container"></div>
    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.12&key=	7a7783a78617cf97207a84f671999cee"></script>
    @*左上角控件引用*@
    <script type="text/javascript" src="https://cache.amap.com/lbs/static/addToolbar.js"></script>
    <script src="~/Script/jquery-3.1.1.js"></script>
    <script type="text/javascript">
        //初始化地图对象，加载地图
        var marker, map = new AMap.Map("container", {
            resizeEnable: true,
            center: [116.397428, 39.90923],
            zoom: 6
        });
        var positions = [];
        $.ajax({
            url: "http://localhost:8099/MonitorPoints/GetMonitorPoint",
            type: "get",
            data: {
            },
            success: function (data) {
                positions = [];
                $(data).each(function (index, data) {
                    //console.log(data);
                    if (data.PointType == 9) {
                        //添加点标记信息窗体
                        var infoWindow = new AMap.InfoWindow({ offset: new AMap.Pixel(10, -50) });
                        isCustom: true,  //使用自定义窗体
                            marker = new AMap.Marker({
                                icon: "http://localhost:8099/Content/dian.ico",
                                position: [data.Longitude, data.Latitude],
                                map: map
                            });
                    }
                    else if (data.PointType == 10) {
                        //添加点标记信息窗体
                        var infoWindow = new AMap.InfoWindow({ offset: new AMap.Pixel(10, -50) });
                        isCustom: true,  //使用自定义窗体
                            marker = new AMap.Marker({
                                icon: "http://localhost:8099/Content/6.ico",
                                position: [data.Longitude, data.Latitude],
                                map: map
                            });

                    }
                    else if (data.PointType == 11) {
                        //添加点标记信息窗体
                        var infoWindow = new AMap.InfoWindow({ offset: new AMap.Pixel(10, -50) });
                        isCustom: true,  //使用自定义窗体
                            marker = new AMap.Marker({
                                icon: "http://localhost:8099/Content/o3.ico",
                                position: [data.Longitude, data.Latitude],
                                map: map
                            });

                    }
                    else if (data.PointType == 12) {
                        //添加点标记信息窗体
                        var infoWindow = new AMap.InfoWindow({ offset: new AMap.Pixel(10, -50) });
                        isCustom: true,  //使用自定义窗体
                            marker = new AMap.Marker({
                                icon: "http://localhost:8099/Content/kl.ico",
                                position: [data.Longitude, data.Latitude],
                                map: map
                            });

                    }
                    else if (data.PointType == 13) {
                        //添加点标记信息窗体
                        var infoWindow = new AMap.InfoWindow({ offset: new AMap.Pixel(10, -50) });
                        isCustom: true,  //使用自定义窗体
                            marker = new AMap.Marker({
                                icon: "http://localhost:8099/Content/xx.ico",
                                position: [data.Longitude, data.Latitude],
                                map: map
                            });

                    }

                    //marker.content = '监测点名称：' + data.PointName + "</br>" + '设备编号：' + data.EquipmentCode + "</br>" + '监测点类型：' + data.PointType + "</br>" + '行政区编号：' + data.RegionCode + "</br>" + '状态：' + data.Status + "</br>" + '更新时间：' + data.UpdateDate + "</br>";
                    //marker.content = "<table><tr><td>" + '名称：' + "</td><td>" + data.PointName + "</td></tr><tr><td>" + '设备编号：' + "</td><td>" + data.EquipmentCode + "</td></tr><tr><td>" + '类型：' + "</td><td>" + data.PointType + "</td></tr><tr><td>" + '行政区：' + "</td><td>" + data.RegionCode + "</td></tr><tr><td>" + '状态：' + "</td><td>" + data.Status + "</td></tr><tr><td>" + '更新时间：' + "</td><td>" + data.UpdateDate + "</td></tr></table>";
                    marker.content = "<table><tr><td>" + '名称：' + "</td><td>" + data.PointName + "</td></tr><tr><td>" + '设备编号：' + "</td><td>" + data.EquipmentCode + "</td></tr><tr><td>" + '类型：' + "</td><td>" + data.PointType + "</td></tr><tr><td>" + '行政区：' + "</td><td>" + data.RegionCode + "</td></tr><tr><td>" + '状态：' + "</td><td>" + data.Status + "</td></tr><tr><td>" + '更新时间：' + "</td><td>" + data.UpdateDate + "</td></tr></table>";
                    marker.on('click', markerClick);
                    //marker.emit('click', { target: marker });

                    function markerClick(e) {
                        infoWindow.setContent(e.target.content);
                        infoWindow.open(map, e.target.getPosition());
                    }
                    map.setFitView();
                })
            }
        })

        $(function () {
            show();
            showPolluation();
            Weather();
            Warning();
        })

        function show() {
            $.ajax({
                url: 'http://localhost:8099/MonitorPoints/GetMinuteDatas',
                data: { Id: 11 },
                type: 'get',
                success: function (data) {
                    $(data).each(function (index, data) {
                        $("#tab").append("<tr><td>" + data.Id + "</td><td><a onclick='bntLj()'>" + data.PointName + "</a></td><td>" + data.AVGValue + "</td></tr>")
                    })
                }
            })
        }

        function showPolluation() {
            $.ajax({
                url: "http://localhost:8099/MonitorPoints/GetPollutants",
                type: "get",
                success: function (data) {

                    $(data).each(function (index, data) {
                        console.log(data.Id);
                        $("#div1").append("<input style='width: 60px; height: 40px;' type='button' value=" + data.PollutantName + " onclick='btnPo(" + data.Id + ")' />")
                    })
                }

            })
        }

        function btnPo(id) {
            $.ajax({
                url: 'http://localhost:8099/MonitorPoints/GetMinuteDatas',
                data: { Id: id },
                type: 'get',
                success: function (data) {
                    $(data).each(function (index, data) {
                        $("#tab").append("<tr><td>" + data.Id + "</td><td><a onclick='bntLj()'>" + data.PointName + "</a></td><td>" + data.AVGValue + "</td></tr>")
                    })
                }
            })
        }

        function Weather() {
            $.ajax({
                url: '/MonitorPoint/GetCityInfos',
                type: 'get',
                success: function (data) {
                    $.ajax({
                        url: "http://t.weather.sojson.com/api/weather/city/" + data,
                        type: "get",
                        success: function (data) {
                            console.log(data.data.forecast);
                            $(data).each(function (index, data) {
                                $("#tal").append("<li>" + data.data.forecast[0].high + "</li><li>" + data.data.forecast[0].low + "</li><li>" + data.data.forecast[0].fx + "</li><li>" + data.data.forecast[0].type + "</li>")
                                //$("#tal").append("<tr><td>" + data.data.forecast[0].high + "</td></tr><tr><td>" + data.data.forecast[0].low + "</td></tr><tr><td>" + data.data.forecast[0].fx + "</td></tr><tr><td>" + data.data.forecast[0].type +"</td></tr>")
                            })
                        }
                    })
                }

            })
        }

        function bntLj() {

        }

        function Warning() {
            $.ajax({
                url: "http://localhost:8099/MonitorPoints/GetMinuteDatas",
                type: "get",
                data: { id: 17 },
                success: function (data) {
                    console.log(data);
                    $(data).each(function (index, data) {
                        $("#tan").append("<tr><td>" + data.Id + "</td><td>" + data.PointName + "</td><td>" + data.AVGValue + "</td></tr>")
                    })
                }
            })
        }



    </script>
</body>
</html>
