
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>地图加载完成事件</title>
    <link rel="stylesheet" href="https://cache.amap.com/lbs/static/main1119.css" />
    <link rel="stylesheet" href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <style>
        html, body, #container {
            height: 100%;
            width: 100%;
        }

        .amap-icon img,
        .amap-marker-content img {
            width: 15px;
            height: 20px;
        }

        /*.marker {
            position: absolute;
            top: -20px;
            right: -118px;
            color: #fff;
            padding: 4px 10px;
            box-shadow: 1px 1px 1px rgba(10, 10, 10, .2);
            white-space: nowrap;
            font-size: 12px;
            font-family: "";
            background-color: #25A5F7;
            border-radius: 3px;
        }*/
    </style>

</head>
<body>
    <div style="position:fixed;left:0;top:50px;width:200px;height:100%;background-color:gray;z-index:10000000">
        <input type="text" style="width:100px;" /><input type="button" value="搜索" />
        <table id="tab">
            <tr>
                <td>排名</td>
                <td>站点名称</td>
                <td>浓度</td>
            </tr>
        </table>
    </div>
    <div style="position:fixed;top:0;width:100%;height:50px;background-color:red;z-index:10000000" id="div1">
        <span>大气环境网格化监管系统</span>
        <input type="text" style="margin-left:1200px; width:100px;" /><input type="button" value="搜索" style="width:50px;float:right;" />
    </div>
    <div id="container"></div>
    <div id="tip" class="info">地图正在加载</div>
    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.12&key=	7a7783a78617cf97207a84f671999cee"></script>
    @*左上角控件引用*@
    <script type="text/javascript" src="https://cache.amap.com/lbs/static/addToolbar.js"></script>
    <script src="~/Script/jquery-3.1.1.js"></script>
    <script type="text/javascript">
        //初始化地图对象，加载地图
        var marker, map = new AMap.Map("container", {
            resizeEnable: true,
            center: [116.397428, 39.90923],
            zoom: 6
        });
        map.on('complete', function () {
            document.getElementById('tip').innerHTML = "地图图块加载完毕！当前地图中心点为：" + map.getCenter();
        });
        var positions = [];
        $.ajax({
            url: "http://localhost:8099/MonitorPoints/GetMonitorPoint",
            type: "get",
            data: {
            },
            success: function (data) {
                positions = [];
                $(data).each(function (index, data) {

                    //添加点标记信息窗体
                    var infoWindow = new AMap.InfoWindow({ offset: new AMap.Pixel(10, -50) });
                    isCustom: true,  //使用自定义窗体
                        marker = new AMap.Marker({
                            icon: "http://localhost:8099/Content/dian.ico",
                            position: [data.Longitude, data.Latitude],
                            map: map
                        });

                    //marker.content = '监测点名称：' + data.PointName + "</br>" + '设备编号：' + data.EquipmentCode + "</br>" + '监测点类型：' + data.PointType + "</br>" + '行政区编号：' + data.RegionCode + "</br>" + '状态：' + data.Status + "</br>" + '更新时间：' + data.UpdateDate + "</br>";
                    //marker.content = "<table><tr><td>" + '名称：' + "</td><td>" + data.PointName + "</td></tr><tr><td>" + '设备编号：' + "</td><td>" + data.EquipmentCode + "</td></tr><tr><td>" + '类型：' + "</td><td>" + data.PointType + "</td></tr><tr><td>" + '行政区：' + "</td><td>" + data.RegionCode + "</td></tr><tr><td>" + '状态：' + "</td><td>" + data.Status + "</td></tr><tr><td>" + '更新时间：' + "</td><td>" + data.UpdateDate + "</td></tr></table>";
                    marker.content = "<table><tr><td>" + '名称：' + "</td><td>" + data.PointName + "</td></tr><tr><td>" + '设备编号：' + "</td><td>" + data.EquipmentCode + "</td></tr><tr><td>" + '类型：' + "</td><td>" + data.PointType + "</td></tr><tr><td>" + '行政区：' + "</td><td>" + data.RegionCode + "</td></tr><tr><td>" + '状态：' + "</td><td>" + data.Status + "</td></tr><tr><td>" + '更新时间：' + "</td><td>" + data.UpdateDate + "</td></tr></table>";
                    marker.on('click', markerClick);
                    //marker.emit('click', { target: marker });

                    function markerClick(e) {
                        infoWindow.setContent(e.target.content);
                        infoWindow.open(map, e.target.getPosition());
                    }
                    map.setFitView();
                })
            }
        })

        $(function () {
            show();
            showPolluation()
        })

        function show() {
            $.ajax({
                url: 'http://localhost:8099/MonitorPoints/GetMinuteDatas',
                data: { Id: 11 },
                type: 'get',
                success: function (data) {
                    $(data).each(function (index, data) {
                        $("#tab").append("<tr><td>" + data.Id + "</td><td>" + data.PointName + "</td><td>" + data.AVGValue + "</td></tr>")
                    })
                }
            })
        }

        function showPolluation() {
            $.ajax({
                url: "http://localhost:8099/MonitorPoints/GetPollutants",
                type: "get",
                success: function (data) {
                    $(data).each(function (index, data) {
                        $("#div1").append("<input type='button' value=" + data.PollutantName + " onclick='btnPo(" + data.Id + ")' />")
                    })
                }

            })
        }

        function btnPo() {
            show();
        }
    </script>
    <table class="table-responsive">
        <tr>
            <td></td>
        </tr>
    </table>
</body>
</html>
