
@{
    Layout = null;
}

<!DOCTYPE html>
<script src="~/My97DatePicker/My97DatePicker/WdatePicker.js"></script>
<html style="height: 100%">
<head>
    <meta charset="utf-8">
</head>
<body style="height: 100%; margin: 0">
    <div style="padding:50px;margin-left:600px;" >
        <input id="h1" type="hidden" value="@Request.QueryString["Code"]" />
        <input class="Wdate" type="text" onClick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})" id="time" value="2019-01-13"  style="width:180px;height:50px">
        <input id="Button1" type="button" value="PM2.5" onclick="fun('PM2.5')" style="width:80px;height:50px"/>
        <input id="Button1" type="button" value="PM10" onclick="fun('PM10')"  style="width:80px;height:50px"/>
        <input id="Button1" type="button" value="CO" onclick="fun('CO')"  style="width:80px;height:50px"/>
        <input id="Button1" type="button" value="NO2" onclick="fun('NO')"  style="width:80px;height:50px"/>
        <input id="Button1" type="button" value="SO2" onclick="fun('SO2')"  style="width:80px;height:50px"/>
        <input id="Button1" type="button" value="AQI" onclick="fun('AQI')"  style="width:80px;height:50px"/>
        <input id="Button1" type="button" value="O3" onclick="fun('O3')"  style="width:80px;height:50px"/>
    </div>
    <div id="container" style="height: 100%"></div>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
    <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>
    <script type="text/javascript">
        var dom = document.getElementById("container");
        var myChart = echarts.init(dom);
        var app = {};
        option = null;
    </script>
</body>
</html>
<script src="~/Script/jquery-3.1.1.js"></script>
<script>
    var i = [];
    var j = [];
    $(function () {
        $.ajax({
            url: 'http://localhost:8099/caoxiaole/GetSum',
            data: {
                "Code": $("#h1").val(),
                "time": $("#time").val().toString(),
                "pullname": "PM2.5",
            },
            type: 'get',
            async: false,
            success: function (data) {
                $(data).each(function (index, data) {
                    i.push(data.PointName);
                    j.push(data.AVGValue);
                })
                //控制线条的条数
                var dataCount = data.length;
                var option = {
                    title: {
                        text: echarts.format.addCommas(dataCount) + ' Data',
                        left: 10
                    },
                    toolbox: {
                        feature: {
                            dataZoom: {
                                yAxisIndex: false
                            },
                            saveAsImage: {
                                pixelRatio: 2
                            }
                        }
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'shadow'
                        }
                    },
                    grid: {
                        bottom: 90
                    },
                    dataZoom: [{
                        yAxisIndex: 0,
                        type: 'inside'
                    }, {
                        yAxisIndex: 0,
                        type: 'slider'
                    }],
                    xAxis: {
                        type: 'value',
                        data: j,
                        silent: false,
                        splitLine: {
                            show: false
                        },
                        splitArea: {
                            show: false
                        }
                    },
                    yAxis: {
                        type: 'category',
                        data: i,
                        splitArea: {
                            show: false
                        }
                    },
                    series: [{
                        type: 'bar',
                        data: j,
                        // Set `large` for large data amount
                        large: true
                    }]
                };
                if (option && typeof option === "object") {
                    myChart.setOption(option, true);
                }
            }
        })
        
    })
    
    function fun(obj) {
        i = [];
        j = [];
        $.ajax({
            url: 'http://localhost:8099/caoxiaole/GetSum',
            data: {
                "Code": $("#h1").val(),
                "time": $("#time").val().toString(),
                "pullname": obj,
            },
            type: 'get',
            async: false,
            success: function (data) {
                $(data).each(function (index, data) {
                    i.push(data.PointName);
                    j.push(data.AVGValue);
                })
                //控制线条的条数
                var dataCount = data.length;
                var option = {
                    xAxis: {
                        type: 'value',
                        data: j,
                        silent: false,
                        splitLine: {
                            show: false
                        },
                        splitArea: {
                            show: false
                        }
                    },
                    yAxis: {
                        type: 'category',
                        data: i,
                        splitArea: {
                            show: false
                        }
                    },
                    series: [{
                        type: 'bar',
                        data: j,
                        // Set `large` for large data amount
                        large: true
                    }]
                };
                if (option && typeof option === "object") {
                    myChart.setOption(option, true);
                }
            }
        })
    }
</script>
