@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
    <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>
    <script src="~/Script/jquery-3.1.1.js"></script>
    <script src="~/My97DatePicker/My97DatePicker/WdatePicker.js"></script>

</head>
<body style="height:1200px">
    <div>
        <span>年份：</span><input name="time" class="Wdate" type="text" onClick="WdatePicker({el:this,dateFmt:'yyyy'})">
        <select name="Id">
            <option value="0">--请选择--</option>
        </select>
        <input type="button" value="搜索" onclick="btnSearch()" />
    </div>
    <div id="container" style="height: 100%; width:100%"></div>
</body>

</html >
<script type="text/javascript">
    var userids=@Request.QueryString["Code"];
    var dom = document.getElementById("container");
    var myChart = echarts.init(dom);
    var app = {};
    var option = null;
    app.title = '笛卡尔坐标系上的热力图';

    var months = [1, 2, 3, 4, 5, 6, 7,
        8, 9, 10, 11, 12
    ];

    var Days = [];
   

    var datas = [];
    //文档就绪函数
    $(function () {
        show();
        showpolluant();
    })

    //显示数据echarts图
    function show() {
        $.ajax({
            url: 'http://localhost:8099/GetMonthDatas',
            type: 'get',
            data: {
                polluantid: 17,
                monitortime: 2018,
                userid: userids
            },
            success: function (data) {
                console.log(data);
                var count = data.length;

                var month = new Date(data[0].MonitorTime.toString()).getMonth();
                $(data).each(function (index, data) {
                    var date = new Date(data.MonitorTime.toString())
                    console.log(date.getMonth())
                    if (date.getMonth() == month) {
                        Days.push(data.PointName);
                    }
                    datas.push([index % Days.length, date.getMonth(), data.AVGValue])
                })
                option = {
                    tooltip: {
                        position: 'top'
                    },
                    animation: true,
                    grid: {
                        height: '50%',
                        y: '10%'
                    },
                    xAxis: {
                        type: 'category',
                        data: Days,
                        splitArea: {
                            show: true
                        }
                    },
                    yAxis: {
                        type: 'category',
                        data: months,
                        splitArea: {
                            show: true
                        }
                    },
                    visualMap: {
                        min: 0,
                        max: 300,
                        calculable: true,
                        orient: 'horizontal',
                        left: 'center',
                        bottom: '15%'
                    },
                    series: [{
                        name: 'Punch Card',
                        type: 'heatmap',
                        data: datas,
                        itemStyle: {
                            emphasis: {
                                shadowBlur: 10,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }]
                };
                myChart.setOption(option,true);
                console.log(datas)
            }
        })
    }

    datas = datas.map(function (item) {
        return [item[1], item[0], item[2] || '-'];
    });

    //显示所有污染物
    function showpolluant() {
        $.ajax({
            url: 'http://localhost:8099/GetPollutants',
            type: 'get',
            success: function (data) {
                $(data).each(function (index, data) {
                    $("select[name=Id]").append("<option value=" + data.Id + ">" + data.PollutantName + "</option>")
                })
            }
        })
    }

    //根据年份和污染物进行查询
    function btnSearch() {
        $.ajax({
            url: 'http://localhost:8099/GetMonthDatas',
            type: 'get',
            data: {
                polluantid: $("select[name=Id]").val(),
                monitortime: $("input[name=time]").val(),
                userid: userids
            },
            success: function (data) {
                datas = [];
                Days = [];
                console.log(data);
                var month = new Date(data[0].MonitorTime.toString()).getMonth();
                var i =1;
                $(data).each(function (index, data) {

                    var date = new Date(data.MonitorTime.toString())
                    if (date.getMonth() == month) {
                        Days.push(i);
                        i++;
                    }
                    console.log(date.getMonth())
                    //datas.push([Math.ceil((date - new Date(date.getFullYear().toString()) + 1000 * 60 * 60 * 9) / (24 * 60 * 60 * 1000)) - 1, date.getHours(), data.AVGValue])
                    option = {
                        tooltip: {
                            position: 'top'
                        },
                        animation: true,
                        grid: {
                            height: '50%',
                            y: '10%'
                        },
                        xAxis: {
                            type: 'category',
                            data: Days,
                            splitArea: {
                                show: true
                            }
                        },
                        yAxis: {
                            type: 'category',
                            data: months,
                            splitArea: {
                                show: true
                            }
                        },
                        visualMap: {
                            min: 0,
                            max: 300,
                            calculable: true,
                            orient: 'horizontal',
                            left: 'center',
                            bottom: '15%'
                        },
                        series: [{
                            name: 'Punch Card',
                            type: 'heatmap',
                            data: datas,
                            itemStyle: {
                                emphasis: {
                                    shadowBlur: 10,
                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                }
                            }
                        }]
                    };;
                    datas.push([index % Days.length, date.getMonth(), data.AVGValue])




                })
                myChart.setOption(option, true);
                console.log(datas)
            }
        })
    }
</script>
