@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Script/jquery-3.1.1.js"></script>
    <script src="~/Content/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <style>
        #tab {
        }

            #tab tr td {
                border: 1px solid;
                width: 200px;
                text-align: center;
            }
    </style>
</head>
<body>
    <div style="width:100%;height:50px;background-color:black;z-index:10000000">
        <span style="color:white;font-size:35px;">大气环境网格化监管系统</span>
        <span style="color:white;margin-left:600px;"><a href="/MonitorPoint/Index?data=@Request.QueryString["Code"]" style="color:white">实时监测</a></span>
        <span style="margin-left:15px;display: inline-block;position: relative;">
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                统计分析<span class="caret"></span>
            </button>
            <ul style="z-index:100000001" class="dropdown-menu">
                <li><a href="/AnalyzeEcharts/ManyPollutants?Code=@Request.QueryString["Code"]">多站点污染物分析</a></li>
                <li><a href="/AnalyzeEcharts/SingleSite?Code=@Request.QueryString["Code"]">单站点污染物分析</a></li>
                <li><a href="/MonitorPoint/CxlMon?Code=@Request.QueryString["Code"]">月度数据分析</a></li>
                <li><a href="/MonitorPoint/CxlMonEcharts?Code=@Request.QueryString["Code"]">大气常规站污染分析</a></li>
                <li><a href="/Hot/AllIndex?Code=@Request.QueryString["Code"]">多站点年度污染分析</a></li>
                <li><a href="/Hot/Index?Code=@Request.QueryString["Code"]">单站点年度污染分析</a></li>
                <li><a href="Rangking?Code=@Request.QueryString["Code"]">站点数据排名统计</a></li>
                <li><a href="/Hot/PointInfo?Code=@Request.QueryString["Code"]">站点基本信息查询</a></li>
            </ul>
        </span>

    </div>
    <div><span>站点名称：</span><input type="text" name="PointName" /><input type="button" value="搜索" onclick="btnSearch()" /></div>
    <div>
        <table id="tab" cellpadding="0" cellspacing="0">
            <tr>
                <td style="background-color:aqua">序号</td>
                <td style="background-color:aqua">站点名称</td>
                <td style="background-color:aqua">所属区域</td>
                <td style="background-color:aqua">设备类型</td>
                <td style="background-color:aqua">站点安装时间</td>
            </tr>
        </table>
    </div>
</body>
</html>
<script type="text/javascript">
    var userids = @Request.QueryString["Code"];
    $(function () {
        show();
    })
    
    function show() {
        $.ajax({
            url: "http://localhost:8099/GetPoitInfos",
            type: "get",
            data: {
                pointname: $("input[name=PointName]").val(),
                userid: userids
            },
            success: function (data) {
                $("#tab tr").not(":first").remove();
                $(data).each(function (index, data) {
                    $("#tab").append("<tr><td>" + index + "</td><td>" + data.PointName + "</td><td>" + data.RegionName + "</td><td>" + data.PointTypeName + "</td><td>" + data.UpdateDate + "</td></tr>")
                })
            }
        })
    }


    function btnSearch() {
        show();
    }


</script>
